@import url('https://fonts.googleapis.com/css2?family=Anton&family=Blaka&family=Blaka+Hollow&family=IBM+Plex+Sans:wght@700&family=Poppins:wght@200&family=Quicksand:wght@300&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./1.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Aboreto', cursive;
}
.main-app{
    width: 50vh;
    margin: 100px auto;
    background-color: rgb(240, 248, 255 , 0.5);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 5px 15px rgb(230 , 234 , 279);
}
.main-app>*{
    margin-bottom: 20px;
}
.input-box{
    width: 100%;
    background-color: rgb(255 , 255 ,255 , 0.6);
    border: none;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    height: 50px;
    border-radius: 5px;
    border-bottom: 5px solid rgb(248, 105, 105);
}
.input-box:focus{
    background-color: rgb(255 , 255 ,225);

}
.weather-info{
color: #582233;
padding: 20px;
line-height: 2rem;
height: 50vh;
display: none;
background-color: rgb(255 , 255 ,255 , 0.6);
}
.weather-info.active{
    display: flex;
    flex-direction: column;
}
.location-detail{
    font-weight: bold;
}
.weather-status{
    padding: 20px;
}
.temp{
    font-size: 50px;
    font-weight: 800;
    margin: 20px 0;
 text-shadow: 2px  4px rgb(0,0,0 ,0.3);
}
.min-max , .weather{
font-size: 12px;
font-weight: 500;
}
